@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); /* font-family: "Rubik", sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap'); /* font-family: "Roboto Slab", sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); /* font-family: "Work Sans", sans-serif */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.show-products {
    width: 100%;
    background-color: #ecf0f1;
}

.show-products .h1-text h1 {
    color: #00326D;
    font-size: 55px;
    font-family: "Roboto Slab", sans-serif;
}

.show-products .h1-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.card {
    margin: 30px 50px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
}

.card-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.card-body {
    display: grid;
    justify-content: center;
    align-items: center;
}

.card-body .card-title {
    display: flex;
    justify-content: center;
}

.card-body h5 {
    font-family: "Rubik", sans-serif;
}

.card-body .card-price {
    color: green;
    font-size: 30px;
    margin: 30px 0;
}

.card-body .center-element {
    display: flex;
    justify-content: center;
    gap: 20px;
}